__pycache__/
*.pyc
.venv/
venv/
env/

data/*.db
data/*.sqlite
data/*.sqlite3
data/backups/
data/restore_uploads/
data/counters/
data/*.pid
data/.restart_panel
data/*.log
*.log

sing-box/sing-box
sing-box/sing-box.exe
sing-box/*.log
sing-box/*.pid
sing-box/config.json
sing-box/cert.pem
sing-box/key.pem

3proxy/logs/
3proxy/*.pid
3proxy/3proxy.exe
3proxy/3proxy.cfg

*.zip
*.tar.gz
*.7z
